<div class="row">
  <div class="col-xs-12">
    <p>
      <span (click)="onBack()" class="back">&#9664; Back</span>
      You searched for: <i> {{ location }} </i>
    </p>
  </div>
</div>


<!-- Loading Spinner -->
<div *ngIf="!bars && !error" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<!-- End Loading Spinner -->

<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
    <div *ngIf="error" class="row bar">
      <div class="col-xs-12">
        <h3>No bars found, please try again</h3>
      </div>
    </div>

    <div *ngFor="let bar of bars" class="row bar">
      <div class="col-xs-4 img-container">
        <img [src]="bar.image_url || 'http://via.placeholder.com/250/ccc/ccc'" alt="">
      </div>
      <div class="col-xs-8">
        <h4>{{ bar.name }}</h4>
        <ul>
          <li>
            {{ bar.location.address1 }}, 
            {{ bar.location.city }} 
          </li>
          <li>
            Rating: {{ bar.rating }}/5
          </li> 
        </ul>
      </div>
      <div class="col-xs-12 going">
        {{ bar.people.length }} people going,
        <span class="go_here" (click)="goToBar(bar.id)">go here!</span>
      </div>
    </div>

    <div *ngIf="showLoadExtra" class="row bar">
      <button (click)="onLoadExtra()" class="btn btn-success btn-block">Load extra bars</button>
    </div>
  </div>

</div>

